[submodule "maya/int/modules/rigging/cwsmt"]
	path = maya/int/modules/rigging/cwsmt
	url = git@github.com:chowooseoung/cwsmt.git
[submodule "maya/ext/modules/rigging/cmt"]
	path = maya/ext/modules/rigging/cmt
	url = git@github.com:chadmv/cmt.git
[submodule "maya/int/modules/rigging/mbox"]
	path = maya/int/modules/rigging/mbox
	url = git@github.com:chowooseoung/mbox.git
